body {
    margin: 0;
    position: relative;
}
#app {
    margin: 0;
}

.headerColor {
    color: #64b5f6;
}


th {
    color: #64b5f6;
    background-color: black;
    font-weight: bold;
}

.back-color {
    background-color: black;
    border-radius: 4px;
}

.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

.circle {
    text-align: center;
    width: 600px;
    height: 60px;
    background-color: rgb(33, 144, 242);
    border-radius: 50%;
}

:root {
    --base-width: 50%;
    // --base-width2: 60%;
}

.pie {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
    width: 300px;
    height: 300px;
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.5);

    background-image: radial-gradient(#ffffff 30%, transparent 31%),
        conic-gradient(
            rgb(33, 144, 242) 0% var(--base-width),
            #000000 var(--base-width) 100%
        );
    border-radius: 50%;

    .main-text {
        font-size: 26px;
        font-weight: 700;
        transform: translateY(-8px);
    }
    .sub-text {
        font-size: 12px;
        font-weight: 300;
        transform: translateY(-8px);
    }
}
.home_data {
    & .cirle {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-right: auto;
        margin-left: auto;
        width: 220px;
        height: 220px;
        box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.5);

        background-image: radial-gradient(#ffffff 30%, transparent 31%),
            conic-gradient(
                rgb(33, 144, 242) 0% var(--base-width),
                #000000 var(--base-width) 100%
            );
        border-radius: 50%;
    }
    .main-text {
        font-size: 18px;
        font-weight: 700;
        transform: translateY(-8px);
    }
    .sub-text {
        font-size: 12px;
        font-weight: 300;
        transform: translateY(-8px);
    }
}
.home_fee {
    & .double_line {
        display: inline-block;
        // width: 280px;
        border-bottom: double 5px rgb(33, 144, 242);
    }
}
.double_line {
    display: inline-block;
    // width: 280px;
    border-bottom: double 5px rgb(33, 144, 242);
}

.hover-blue {
    transition: color 0.3s;
    color: #ffffff;
    &:hover {
        color: rgb(33, 144, 242);
    }
}
.btn {
    transition: color 0.3s;
    display: inline-block;
    background-color: #000000;
    height: 40px;
    width: 80%;
    color: #ffffff;
    border-radius: 4px;
    &:hover {
        color: rgb(33, 144, 242);
    }
}

.card{
    position: relative;
}

.homeButton{
    position: absolute;
    bottom: -12%;
    left: 50%;
    transform: translateX(-50%) scale(1.2);
    transition: transform 0.6s;
    &:hover{
        transform: translateX(-50%) scale(1);
    }
}

@media (min-width: 600px) {
    .content {
        padding-left: 256px;
    }
}
.inquiryContainer{
    position: relative;
}



/**************************************
*Table                                *
***************************************/
.v-application a {
    cursor: pointer;
    color: inherit;
    text-decoration: none;
    &:hover{
        color: rgb(33, 144, 242);
    }
}